*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --color-blue: rgba(9, 56, 177, 1);
  --color-yellow: rgba(242, 189, 0, 1);
  --color-green: rgba(0, 161, 36, 1);
  --color-red: rgba(228, 27, 14, 1);
  --fw-light: 100;
  --fw-darker: 600;
}
body {
  font-family: "Inter", sans-serif;
  background-image: url(images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: transitionIn 3.5s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-20deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

.header-container {
  background-color: var(--color-blue);
  padding-top: 10px;
  height: 80px;
  width: 100vw;
  max-width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.para-one {
  color: white;
  margin-top: 15px;
  padding-left: 100px;
  margin-left: 15px;
  font-size: 25px;
  font-weight: var(--fw-darker);
  animation: slidedown 2s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
  /* font-weight: bolder; */
}

@keyframes slidedown {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translateX(0px);
    visibility: visible;
  }
}

.para-span {
  font-weight: normal;
}

.contact-btn {
  background-color: var(--color-yellow);
  margin-right: 100px;
  margin-top: 5px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  border: none;
  cursor: pointer;
  animation: slidein 2s linear;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;
  /* transition: ease-in-out 1s; */
}

@keyframes slidein {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

.main-cnt {
  /* width: 100%; */
  /* animation: slideInFromBottom 1s ease-in; */
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 86.5%;
  margin-left: 7%;
}

.first-half {
  padding: 0 10px;
  transition: 1.5s ease-in-out;
  width: 50%;
  max-width: 600px;
  animation: moveright 2s linear 1;
  animation-delay: 4s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes moveright {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

.title {
  font-size: 50px;
  margin-top: 100px;
  color: #263238;
  font-weight: bold;
}

.para-three {
  font-size: 50px;
  font-weight: bold;
  color: var(--color-yellow);
  /* position: relative; */
}

.para-three-ctn {
  position: relative;
}

.hero-img {
  height: 300px;
  width: 500px;
  margin-top: 100px;
  animation: zoomin 2s linear 1;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes zoomin {
  0% {
    transform: scale(0.5);
    visibility: visible;
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}

#hero-img {
  width: 100%;
  height: 100%;
  /* margin-top: 120px; */
  /* padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px; */
}

/* .smilie-ctn {
  display: flex;
  justify-content: space-between;
} */

.smile-ctn {
  position: absolute;
  width: 100px;
  top: 40px;
  left: 115px;
  right: 0;
  z-index: 10;
  transition: 1.5s ease-in-out;
}

.smile-ctn img {
  width: 100%;
  height: 100%;
}

.para-four {
  font-size: 25px;
  margin-top: 20px;
  /* font-weight: bold; */
}

.contact-btn-two {
  background-color: var(--color-blue);
  margin-right: 100px;
  margin-top: 26px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  border: none;
  cursor: pointer;
  transition: width 1s ease-in-out;
}

.contact-btn-two:active {
  box-shadow: 0 5px var(--color-green);
  transform: translateY(10px);
  outline: none;
  border: none;
  transition: 1s ease-out;
}

footer {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 0;
  animation: bounce 2.5s;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  /* animation: footer 1s reverse linear infinite; */
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}
/* Prefix Support */

ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}

.color-ft {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80%;
}

.green {
  width: 25%;
  height: 8px;
  background-color: var(--color-green);
}

.red {
  width: 25%;
  height: 8px;
  background-color: var(--color-red);
}

.blue {
  width: 25%;
  height: 8px;
  background-color: var(--color-blue);
}

.yellow {
  width: 25%;
  height: 8px;
  background-color: var(--color-yellow);
}

.contact-btn-two:hover {
  opacity: 1.2;
  width: 200px;
  background-color: var(--color-yellow);
}

.contact-btn:hover {
  opacity: 0.89;
  transition: ease-out 0.9s;
}

@media (max-width: 1150px) {
  .para-one {
    color: white;
    margin-top: 15px;
    padding-left: 5px;
    margin-left: 75px;
    font-size: 20px;
    font-weight: var(--fw-darker);
    /* font-weight: bolder; */
  }

  .contact-btn {
    background-color: var(--color-yellow);
    margin-right: 80px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    /* transition: ease-in-out 1s; */
  }

  .first-half {
    padding: 0 10px;
    transition: 1.5s ease-in-out;
    width: 50%;
    max-width: 500px;
  }

  .hero-img {
    height: 300px;
    width: 350px;
    margin-top: 100px;
    animation: zoomin 2s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  /* .hero-img {
  height: 300px;
  width: 500px;
  margin-top: 100px;
 
} */

  @keyframes zoomin {
    0% {
      transform: scale(0.5);
      visibility: visible;
    }
    100% {
      transform: scale(1);
      visibility: visible;
    }
  }

  footer {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 140px; */
    margin-bottom: 0;
    animation: bounce 2.5s;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: infinite;
    /* animation: footer 1s reverse linear infinite; */
  }

  /* transform: translate3d(0, 100px, 0);
  }
} */

  .color-ft {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
  }

  .green {
    width: 25%;
    height: 8px;
    background-color: var(--color-green);
  }

  .red {
    width: 25%;
    height: 8px;
    background-color: var(--color-red);
  }

  .blue {
    width: 25%;
    height: 8px;
    background-color: var(--color-blue);
  }

  .yellow {
    width: 25%;
    height: 8px;
    background-color: var(--color-yellow);
  }
}

@media (max-width: 780px) {
  .main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 86.5%;
    margin-left: 7%;
  }

  .first-half {
    padding: 0 10px;
    transition: 1.5s ease-in-out;
    width: 100%;
    max-width: 600px;
  }

  .title {
    font-size: 50px;
    margin-top: 100px;
    color: #263238;
    font-weight: bold;
  }

  .para-three {
    font-size: 50px;
    font-weight: bold;
    color: var(--color-yellow);
    /* position: relative; */
  }

  .para-three-ctn {
    position: relative;
  }

  .hero-img {
    height: 300px;
    width: 500px;
    margin-top: 100px;
    /* animation: slideInFromRight 1s ease-in; */
    animation: zoomin 2s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  @keyframes zoomin {
    0% {
      transform: scale(0.5);
      visibility: visible;
    }
    100% {
      transform: scale(1);
      visibility: visible;
    }
  }

  /* .smilie-ctn {
  display: flex;
  justify-content: space-between;
} */

  .smile-ctn {
    position: absolute;
    width: 100px;
    top: 40px;
    left: 115px;
    right: 0;
    z-index: 10;
    transition: 1.5s ease-in-out;
  }

  .smile-ctn img {
    width: 100%;
    height: 100%;
  }

  .para-four {
    font-size: 25px;
    margin-top: 20px;
    /* font-weight: bold; */
  }

  #hero-img {
    width: 100%;
    height: 100%;
    /* margin-top: 120px; */
    /* padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px; */
  }

  .contact-btn-two {
    background-color: var(--color-blue);
    margin-right: 100px;
    margin-top: 26px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: white;
    border: none;
    cursor: pointer;
    transition: width 1s ease-in-out;
  }
}

@media (max-width: 520px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .first-half {
    padding: 0 10px;
    transition: 1.5s ease-in-out;
    width: 100%;
    max-width: 100%;
  }

  .header-container {
    background-color: var(--color-blue);
    padding-top: 10px;
    height: 80px;
    /* width: 100vw; */
    max-width: 100%;
  }

  .contact-btn {
    background-color: var(--color-yellow);
    margin-right: 25px;
    margin-top: 5px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    border: none;
    cursor: pointer;
    /* transition: ease-in-out 1s; */
  }

  .para-one {
    width: 50%;
    color: white;
    margin-top: 15px;
    padding-left: 5px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: var(--fw-darker);
    /* font-weight: bolder; */
  }

  .title {
    font-size: 30px;
    margin-top: 100px;
    color: #263238;
    font-weight: bold;
  }

  .hero-img {
    height: 300px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 50px;
    /* animation: slideInFromRight 1s ease-in; */

    animation: zoomin 2s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  @keyframes zoomin {
    0% {
      transform: scale(0.5);
      visibility: visible;
    }
    100% {
      transform: scale(1);
      visibility: visible;
    }
  }

  .para-three {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-yellow);
    /* position: relative; */
  }

  .para-three-ctn {
    position: relative;
  }

  .para-four {
    font-size: 15px;
    margin-top: 20px;
    /* font-weight: bold; */
  }

  /* .smilie-ctn {
  display: flex;
  justify-content: space-between;
} */

  .smile-ctn {
    position: absolute;
    width: 58px;
    top: 23px;
    left: 72px;
    right: 0;
    z-index: 10;
    transition: 1.5s ease-in-out;
  }

  .smile-ctn img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 330px) {
  .header-container {
    background-color: var(--color-blue);
    padding-top: 10px;
    height: 80px;
    /* width: 100vw; */
    max-width: 100%;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .para-one {
    color: white;
    margin-top: 20px;
    padding-left: 5px;
    margin-left: 17px;
    font-size: 17px;
    font-weight: var(--fw-darker);
    /* font-weight: bolder; */
  }

  .contact-btn {
    background-color: var(--color-yellow);
    margin-left: -110px;
    margin-top: 10px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    /* transition: ease-in-out 1s; */
  }

  .title {
    font-size: 20px;
    margin-top: 100px;
    color: #263238;
    font-weight: bold;
  }

  .para-three {
    font-size: 32px;
    font-weight: bold;
    color: var(--color-yellow);
  }

  .para-three-ctn {
    position: relative;
  }

  .smile-ctn {
    position: absolute;
    width: 68.5px;
    top: 25px;
    left: 70px;
    right: 0;
    z-index: 10;
    transition: 1.5s ease-in-out;
  }

  .smile-ctn img {
    width: 100%;
    height: 100%;
  }

  .para-four {
    font-size: 12px;
    margin-top: 20px;
  }
}

@media (max-width: 200px) {
  .header-container {
    background-color: var(--color-blue);
    padding-top: 10px;
    height: 50px;
    /* width: 100vw; */
    max-width: 100%;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .first-half {
    margin-top: -50px;
  }

  .para-one {
    color: white;
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: var(--fw-darker);
    /* font-weight: bolder; */
  }

  .contact-btn {
    background-color: var(--color-yellow);
    margin-left: 45px;
    margin-top: 5px;
    width: 65px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border: none;
    cursor: pointer;
    /* transition: ease-in-out 1s; */
  }

  .title {
    font-size: 20px;
    margin-top: 100px;
    color: #263238;
    font-weight: bold;
  }

  .para-three {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-yellow);
  }

  .para-three-ctn {
    position: relative;
  }

  .smile-ctn {
    position: absolute;
    width: 42px;
    top: 15px;
    left: 54px;
    right: 0;
    z-index: 10;
    transition: 1.5s ease-in-out;
  }

  .smile-ctn img {
    width: 100%;
    height: 100%;
  }

  .para-four {
    font-size: 7px;
    margin-top: 20px;
  }

  .contact-btn-two {
    background-color: var(--color-blue);
    margin-right: 100px;
    margin-top: 26px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: width 1s ease-in-out;
  }

  .contact-btn-two:hover {
    opacity: 1.2;
    width: 100px;
    background-color: var(--color-yellow);
  }

  .contact-btn-two:hover {
    opacity: 1.2;
    width: 100px;
    background-color: var(--color-yellow);
  }

  .contact-btn-two:active {
    box-shadow: 0 5px var(--color-green);
    transform: translateY(5px);
    outline: none;
    border: none;
    transition: 1s ease-out;
  }

  .hero-img {
    height: 150px;
    width: 400px;
    margin-top: 30px;
    /* animation: slideInFromRight 1s ease-in; */
    animation: zoomin 2s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  /* .hero-img {
  height: 300px;
  width: 500px;
  margin-top: 100px;
  animation: zoomin 2s linear 1;
  animation-delay: s;
  visibility: hidden;
  animation-fill-mode: forwards;
} */

  @keyframes zoomin {
    0% {
      transform: scale(0.5);
      visibility: visible;
    }
    100% {
      transform: scale(1);
      visibility: visible;
    }
  }

  #hero-img {
    width: 100%;
    height: 100%;
    /* margin-top: 120px; */
    /* padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px; */
  }
}

@media (max-width: 180px) {
  body {
    background-color: aqua;
  }

  .header-container {
    background-color: var(--color-blue);
    padding-top: 10px;
    height: 50px;
    /* width: 100vw; */
    max-width: 100%;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .first-half {
    margin-top: -50px;
  }

  .para-one {
    color: white;
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: var(--fw-darker);
    /* font-weight: bolder; */
  }

  .contact-btn {
    background-color: var(--color-yellow);
    margin-left: 40px;
    margin-top: 5px;
    width: 55px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 8px;
    color: white;
    border: none;
    cursor: pointer;
    /* transition: ease-in-out 1s; */
  }

  .title {
    font-size: 15px;
    margin-top: 100px;
    color: #263238;
    font-weight: bold;
  }

  .para-three {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-yellow);
  }

  .para-three-ctn {
    position: relative;
  }

  .smile-ctn {
    position: absolute;
    width: 30px;
    top: 6px;
    left: 35px;
    right: 0;
    z-index: 10;
    transition: 1.5s ease-in-out;
  }

  .smile-ctn img {
    width: 100%;
    height: 100%;
  }

  .para-four {
    font-size: 7px;
    margin-top: 20px;
  }

  .contact-btn-two {
    background-color: var(--color-blue);
    margin-right: 100px;
    margin-top: 26px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: width 1s ease-in-out;
  }

  .contact-btn-two:hover {
    opacity: 1.2;
    width: 100px;
    background-color: var(--color-yellow);
  }

  .contact-btn-two:active {
    box-shadow: 0 5px var(--color-green);
    transform: translateY(5px);
    outline: none;
    border: none;
    transition: 1s ease-out;
  }

  .hero-img {
    height: 150px;
    width: 400px;
    margin-top: 30px;
    /* animation: slideInFromRight 1s ease-in; */
    animation: zoomin 2s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  /* .hero-img {
  height: 300px;
  width: 500px;
  margin-top: 100px;
  animation: zoomin 2s linear 1;
  animation-delay: s;
  visibility: hidden;
  animation-fill-mode: forwards;
} */

  @keyframes zoomin {
    0% {
      transform: scale(0.5);
      visibility: visible;
    }
    100% {
      transform: scale(1);
      visibility: visible;
    }
  }

  #hero-img {
    width: 100%;
    height: 100%;
    /* margin-top: 120px; */
    /* padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px; */
  }
}
